# Aliases
alias l="ls -l"
alias lr="ls -R"
alias ls="ls -GFh"
alias ll="ls -lha"
alias cp="cp -iv"
alias mv="mv -iv"
alias ln="ln -iv"
alias mkdir="mkdir -v"
alias rm="rm -i"
alias rmf="rm -rf"
alias grep="grep --color=auto"
alias tmux='tmux -f "$HOME/.config/tmux/init.conf"'
