[user]
	signingkey = C09D284EB3830930
	email = the.ganzorig25@gmail.com
	name = Ganzorig Erdenebat
[commit]
	gpgsign = true
[gpg]
	program = gpg
[core]
	editor = vim
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
